
.resume-view .caption { font-size:1.4em; }
.resume-view h3 { margin-top:20px; font-weight:bold;}
.resume-view ul { margin-top:20px; }
.resume-view li { margin-top:10px; }
.resume-view a { color:blue; text-decoration:underline; }